*, *::before, *::after {
    box-sizing: border-box;
}
/*BODY*/
body {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin: 1vw;
    background: var(--background);
}
#main-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
h1,h2,h3,h4,h5,h6,th {
    color: var(--black-title);
    line-height: 1.2em;

}
p,li,span,img,td,label {
    color: var(--black-text);
    line-height: 1.3em;

}
.i {
    font-style: italic;
    font-weight: 300;
}
/*BODY-LOGIN*/
#bodyLogin {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
/*BOARD*/
#BOARD {
    width: 20vw;
    display: flex;
    height: 0%;
    flex-direction: column;
    gap: 70px;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 20px;
    box-shadow: var(--box-header-shadow);
}
#imgLOGO {
    width: 100%;
    height: auto;
}
#menuDeBord, #Settings, .menuBordMain {
    display: flex;
    flex-direction: column;
}
#menuDeBord span, #Settings span{
    font-size: small;
    color: var(--commentary);
}
.menuBordMain {
    gap: 15px;
}
.menuBord {
    font-weight: bold;
    border-radius: 20px;
}
.menuBord a {
    display: flex;
    align-items: center;
    color: var(--text-color-light);
    text-decoration: none;
    padding: 10px;
}
.menuBord:hover, 
.menuBord.active {
    background-color: var(--text-color-light);
}
.menuBord:hover a,
.menuBord.active a{
        color: var(--text-color-dark);
}
/*HEADER*/
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 10px;
    box-shadow: var(--box-header-shadow);
}
#menuPrimary {
    display: flex;
    gap: 60px;
    margin: 0px 70px 0px 70px;
}
#menuPrimary a{
    font-weight: bold;
    display: flex;
    align-items: center;
    color: var(--text-color-light);
    text-decoration: none;
}
#imgProfile {
    min-height: 100px;
    min-width: 100px;
    background-image: url('../image/icon/imgProfile.jpeg');
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: var(--box-shadow);
}
/*BLOCKS*/
/*#search-container/#preview/#listVoyages/#formulaire/#ajoutVoyage/#notes/#login*/
.block {
    background-color: var(--block-bg);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    width: 100%;
}
/*SECTION-MAIN*/
main {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
/*SEARCH BARRE*/
#sectionMain {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
#search-container {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}
#search-input {
    border: none;
    outline: none;
    flex-grow: 1;
    background-color: var(--block-bg);
}
#search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}
.svg-fill {
    fill: #FF5733;
}

.svg-stroke {
    stroke: #333333;
}
/*PREVIEW*/
#preview {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
#preview h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
}
#previewNotif {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1vw;
}
.notifications {
    flex: 1;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    padding: 3px 3px 8px;
    border-radius: 20px;
    min-height: 100px;
}
.notif1, .notif2{
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--bouton-bgcolor-light);
    gap: 1em;
}
.notif1 {
    border-radius: 20px 0 0 20px;
}
.notif2 {
    border-radius: 0 20px 20px 0;
}
.notif2 p.red {
    font-weight: bold;
    color: var(--red);
}
/*LISTE-VOYAGE*/
#listVoyages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 20px;
}
#thImg {
    width: 100px;
    height: auto;
}
/*FORMULAIRE/LISTE-VOYAGE*/
#listVoyages h2,
#formulaire h2,
#login h1 {
    font-size: 1rem;
    margin: 0rem;
}
/*FORMULAIRE/LOGIN*/
#formulaire,
#login {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1em;

}
#login {
    width: 450px;
}
#formulaire h2,
#login h1 {
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
    padding: 10px;
    border-radius: 20px;
}
.rowForm {
    display: flex;
    justify-content: start;
    gap: 1em;
}
.rowForm #date,
.rowForm span {
    display: inline-flex;
    align-items: end;
}
.rowForm input,
.rowForm textarea,
.rowForm select {
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
}
.rowForm input:focus,
.rowForm textarea:focus,
.rowForm select:focus {
    color: var(--black-text);
    outline: 2px solid var(--black-text);
    background-color: var(--background);
}
.rowForm label:not(#date) {
    display: flex;
    min-width: 125px;
}

.rowForm input#title,
.rowForm textarea {
    flex: 1;
}
.rowForm input#price {
    max-width: 85px;
}

.rowForm textarea {
    resize: vertical;
    height: 4.5rem;
}
/*FORMULAIRE-EDIT*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 10% auto;
    padding: 20px;
    width: 80%;
}
.close {
    color: var(--red);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*SECTION-WIDGET*/
#sectionWidget {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
/*AJOUT-VOYAGE*/
#ajoutVoyage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
}
/*BUTTON-AJOUT-VOYAGE*/
.formVoyageButton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: var(--button-add);
    width: 100%;
    transition: ease-in-out 0.3s;
}
.formVoyageButton span{
    font-weight: 700;
}
.formVoyageButton #sizeSVG {
    height: 20px;
}
.formVoyageButton #plusSVG {
    fill: var(--icon-light);
}
.formVoyageButton:hover {
    background-color: var(--button-add-hover);
    cursor: pointer;
}
/*NOTES*/
#notes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 20px;
}
#notesTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
}
#notes textarea {
    border: none;
    border-radius: 20px;
    background-color: var(--notes-text-bg);
    width: 100%;
    resize: vertical;
    padding: 10px;
    box-shadow: var(--box-header-shadow);
}
#notes textarea:focus {
    outline: 2px solid var(--primary-color);
}