:root {
    --primary-color: #333333;
    --background: #222222;
    --black-title: #ffffff;
    --black-text: #f5deb3;
    --text-color-light: #eaeaea;
    --text-color-dark: #222222;
    --bouton-bgcolor-light: #ffffff;
    --button-add: #4CAF50;
    --button-edit: #4CAF50;
    --button-add-hover: #45a049;
    --button-edit-hover: #45a049;
    --commentary: #D5D5D5;
    --box-header-shadow: -5px 5px 10px rgba(0);
    --box-shadow : -2px 2px 4px rgba(0);
    --red: #FF0000;
    --icon-light: #333333;
    --notes-text-bg: #eaeaea;
    --block-bg: #444444;
}
